{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Simple Budget{% block pagetitle %}{% endblock %}</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <!-- ionicons -->
        <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- air-datepicker css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.min.css">
        
        <link rel="stylesheet" href="{% static 'css/budget.css' %}">

        <!-- jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- charts.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>

        <!-- air-datepicker js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/i18n/datepicker.en.min.js"></script>

        <!-- moments.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment-with-locales.min.js"></script>
    </head>
    <body>

        <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark"> <!-- maybe use light theme? -->

            <span class="navbar-brand">
                <a class="link-unstyled" href="/">
                {% if user.is_authenticated %}

                    {% if user.userrecord.current_funds < 0 %}
                    <span class="btn btn-danger">
                    {% else %}
                    <span class="btn btn-success">
                        <span class="icon ion-cash"></span>
                    {% endif %}
                        $<span id="money-total">{{user.userrecord.current_funds}}</span>
                    </span>
                {% endif %}
                </a>

            </span>

            <div class="collapse navbar-collapse" id="navbar-content">

                {% if user.is_authenticated %}
                <ul class="navbar-nav">

                    <li class="nav-item btn-group app-toolbar">
                        <span class="section-toggle-link btn btn-primary" id="global-new-transaction">
                            <span class="ion-icon ion-plus-round"></span>
                        </span>

                        <span class="section-toggle-link btn btn-primary global-calendar-toggle" id="global-calendar">
                            <span class="ion-icon ion-calendar global-calendar-toggle"></span>

                            <div id="global-calendar-container">
                                <!--<span
                                 class="datepicker-here"
                                 data-date-format="mm/dd/yy" data-language="en">-->

                                <!-- copied verbatim from #date-range for the moment --> 
                                <!--<span id="global-calendar-contents" -->
                                <span id="date-range"
                                    data-date-format="mm/dd/yy" data-language="en"  
                                    data-multiple-dates-separator=" - " data-range="true" 
                                    value="{{date_range_start}} - {{date_range_end}}">
                                </span>
                            </div>
                        </span>

                        <span class="section-toggle-link btn btn-primary" id="global-chart-toggle">
                            <span class="ion-icon ion-stats-bars"></span>
                        </span>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'transaction_log' %}">
                            <span class="ion-icon ion-social-usd"></span> Transactions
                        </a> 
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'category_display' %}">
                            <span class="ion-icon ion-folder"></span> Categories
                        </a>
                    </li>

                    <!--
                    <li class="nav-item">
                        <a class="nav-link section-toggle-link" href="" toggle-target="trends-jumbotron">
                            Trends
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link section-toggle-link" href="" toggle-target="categories-jumbotron">
                            Categories
                        </a>
                    </li>
                    -->
                </ul>
                {% endif %}

                <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="">
                            <span class="icon ion-ios-person"></span> {{user.username}}
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">
                            <span class="icon ion-log-out"> Logout</span>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_create' %}">
                            <span class="icon ion-ios-personadd"> Register</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">
                            <span class="icon ion-log-in"> Login</span>
                        </a>
                    </li>
                {% endif %}
                </ul>

            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>

        <!--
        <div class="jumbotron trends-container" id="trends-jumbotron">
            {% block trends %}
            {% endblock %}
        </div>

        <div class="jumbotron categories-container" id="categories-jumbotron">
            {% block categories %}
            {% endblock %}
        </div>
        -->

        <!-- above are now combined into a generic "charts" container that will be dynamically
            populated based on the view -->

        <div class="jumbotron charts-container" id="charts-jumbotron">
            {% block charts %}
            {% endblock %}
        </div>

        <div class="jumbotron transaction-add-container" id="transaction-jumbotron">
            <div class="container">
            {% block transaction_jumbotron %}
            {% endblock %}
            </div>
        </div>

        <div class="container main-content" id="main-content">
            <h2>{% block content_header %}{% endblock %}</h2>
            {% block content %}
            {% endblock %}
        </div>

        <footer id="page-footer">
            <div class="container" id="footer-container">
                <div class="footer-left">
                    Copyright &copy;2017
                    <a href="http://johnaohara.com">John O'Hara</a>
                </div>
                <div class="footer-right">
                    <a href="https://github.com/jaohara/simple-budget">
                        <span class="icon ion-social-github"></span> Github Repository
                    </a>
                </div>  
            </div>
        </footer>


        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

        <script>
            var load_spinner_html = `{% include "budget_app/transaction_table_loader.html" %}`;

            $(document).ready(function(){

                lineChart = drawLinechart({{range_start_funds}}, {{pos_change_vals}}, {{neg_change_vals}}, 
                    {{dates_in_range|safe}}, $("#lineChartCanvas"));
                pieChart = drawPieChart({{sorted_expense_cat|safe}}, {{sorted_expense_val}}, $("pieChartCanvas"));

                var dateRangeArray = [new Date("{{date_start_iso}}"), new Date("{{date_end_iso}}")];
                $("#date-range").datepicker().data('datepicker').selectDate(dateRangeArray);
                $("#date-range").datepicker().data('datepicker').update('minDate', new Date("{{date_start_bound}}"));

                $("#date-string").datepicker().data('datepicker').selectDate(new Date());
                $("#date-string").datepicker().data('datepicker').update('minDate', new Date("{{date_start_bound}}"));

                //If JS is enabled, make sure the "All Time" link makes an ajax request
                $("#date-range-all").on("click", function(event){
                    event.preventDefault();

                    var dateRangeData = $("#date-range").datepicker().data('datepicker');

                    //var allDateRangeArray = [new Date("{{date_start_bound}}"), new Date("{{date_end_iso}}")]
                    var allDateRangeArray = [dateRangeData.minDate, dateRangeData.maxDate]
                    $("#date-range").datepicker().data('datepicker').selectDate(allDateRangeArray); 
                });
            });
        </script>

        <script src="{% static 'js/budget.js'%}"></script>

        {% block extra_js %}
        {% endblock %}
    </body>
</html>