{% extends 'budget_app/base.html' %}

{% load staticfiles %}

{% block login_info %}
    {% if user.is_authenticated %}
        Logged in as {{ username }}.
    {% endif %}
{% endblock %}

    <!--<script>
    /*
    var ctx = document.getElementById("testChart").getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'pie',
      data: {
        labels: ["M", "T", "W", "T", "F", "S", "S"],
        datasets: [{
          backgroundColor: [
            "#2ecc71",
            "#3498db",
            "#95a5a6",
            "#9b59b6",
            "#f1c40f",
            "#e74c3c",
            "#34495e"
          ],
          data: [12, 19, 3, 17, 28, 24, 7]
        }]
      }
    });
    */
    </script> -->

{% block trends %}
    <h1>Money Over Time</h1>
    <canvas id="lineChartCanvas" width="600" height="380"></canvas>

    <ul>
        <li>Stat One</li>
        <li>Stat Two</li>
        <li>Stat Three</li>
        <li>Stat Four</li>
        <li>Stat Five</li>
    </ul>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
{% endblock %}

{% block categories %}
    <h1>Most Common Expenses</h1>
    <canvas id="pieChartCanvas" width="600" height="380"></canvas>

    <ul>
        <li>Stat One</li>
        <li>Stat Two</li>
        <li>Stat Three</li>
        <li>Stat Four</li>
        <li>Stat Five</li>
    </ul>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
{% endblock %}

{% block transaction_container %}
    <form method="POST" action="{% url 'transaction_add' %}" id="transaction-form">
        {% csrf_token %}
        {# transaction_form.as_p #}

        {% for error in transaction_form.non_field_errors %}
            <div class="form-group text-danger small">
                {{error}}
            </div>
        {% endfor%}

        {% for field in transaction_form %}
            <div class="form-group text-danger small">
                {{field.errors}}
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <!-- this is a little gross, but I'm not sure of a better way -->
                        {% if field.label == "Value" %}
                        <span class="icon ion-social-usd">
                        {% elif field.label == "Memo"%}
                        <span class="icon ion-ios-bookmarks">
                        {% endif %}
                        </span>
                    </span>
                    {{field}}
                </div>
            </div>
        {% endfor %}
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="icon ion-filing"></span>
                </span>
                <input class="form-control" type="text" name="category_string" id="category-string" placeholder="Category">
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="icon ion-ios-calendar-outline"></span>
                </span>
                <input class="form-control" type="text" name="date_string" id="date-string"
                data-date-format="mm/dd/yy" data-language="en">
            </div>
        </div>

        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Add Transaction">
        </div>
    </form>
{% endblock %}


{% block content %}
    <h2>Transactions</h2>

    <label for="date-range">Date Range: </label>
    <input type="text" readonly id="date-range" 
    data-date-format="mm/dd/yy" data-language="en" data-multiple-dates-separator=" - " data-range="true" 
    value="{{date_range_start}} - {{date_range_end}}">

    <a href="{% url 'transaction_log' all_boolean='all' %}" id="date-range-all" class="">All Time</a>

    <div id="table-wrapper">
        {% include 'budget_app/transaction_table.html' %}
    </div>
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function(){

        lineChart = drawLinechart({{initial_funds}}, {{pos_change_vals}}, {{neg_change_vals}}, 
            {{dates_in_range|safe}}, $("#lineChartCanvas"));
        pieChart = drawPieChart({{sorted_expense_cat|safe}}, {{sorted_expense_val}}, $("pieChartCanvas"));

        var dateRangeArray = [new Date("{{date_start_iso}}"), new Date("{{date_end_iso}}")];
        $("#date-range").datepicker().data('datepicker').selectDate(dateRangeArray);
        $("#date-range").datepicker().data('datepicker').update('minDate', new Date("{{date_start_bound}}"));

        $("#date-string").datepicker().data('datepicker').selectDate(new Date());
        $("#date-string").datepicker().data('datepicker').update('minDate', new Date("{{date_start_bound}}"));
    });
    </script>
{% endblock %}