{% extends 'budget_app/base.html' %}

{% load staticfiles %}

{% block login_info %}
    {% if user.is_authenticated %}
        Logged in as {{ username }}.
    {% endif %}
{% endblock %}

{% block datasummary %}

    <canvas id="testChart">

    <script>
    /*
    var ctx = document.getElementById("testChart").getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'pie',
      data: {
        labels: ["M", "T", "W", "T", "F", "S", "S"],
        datasets: [{
          backgroundColor: [
            "#2ecc71",
            "#3498db",
            "#95a5a6",
            "#9b59b6",
            "#f1c40f",
            "#e74c3c",
            "#34495e"
          ],
          data: [12, 19, 3, 17, 28, 24, 7]
        }]
      }
    });
    */
    </script>
    <!--
    <div class="card">
        <div class="card-header"><h2>Summary</h2></div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">Current Funds: {{current_funds}}</li>
            <li class="list-group-item">Monthly In: </li>
            <li class="list-group-item">Monthly Out: </li>
        </ul>
    </div>
    --> 
{% endblock %}

{% block transaction_container %}
    <form method="POST" action="{% url 'transaction_add'%}" id="transaction-form">
        {% csrf_token %}
        {# transaction_form.as_p #}

        {% for error in transaction_form.non_field_errors %}
            <div class="form-group text-danger small">
                {{errors}}
            </div>
        {% endfor%}

        {% for field in transaction_form %}
            <div class="form-group text-danger small">
                {{field.errors}}
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <!-- this is a little gross, but I'm not sure of a better way -->
                        {% if field.label == "Value" %}
                        <span class="icon ion-social-usd">
                        {% elif field.label == "Memo"%}
                        <span class="icon ion-ios-bookmarks">
                        {% endif %}
                        </span>
                    </span>
                    {{field}}
                </div>
            </div>
        {% endfor %}
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="icon ion-filing"></span>
                </span>
                <input class="form-control" type="text" name="category_string" id="categoryString" placeholder="Category">
            </div>
        </div>

        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Add Transaction">
        </div>
    </form>
{% endblock %}

{% block datachart %}
    <div id="chartCarousel" class="carousel slide" data-interval="false">
        <ol class="carousel-indicators">
            <li data-target="#chartCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#chartCarousel" data-slide-to="1"></li>
        </ol>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <h1>Money Over Time</h1>
                <canvas id="lineChartCanvas" width="600" height="380"></canvas>
            </div>
            <div class="carousel-item">
                <h1>Most Common Expenses</h1>
                <canvas id="pieChartCanvas" width="600" height="380"></canvas>
            </div>
        </div>

        <!-- not sure I like how these cover up the charts.
        <a class="carousel-control-prev" href="#chartCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#chartCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        -->

    </div>
    

    <!-- this is getting kinda big, maybe this should be its own js script -->
{% endblock %}

{% block content %}
    <p class="debug-container">
        Leaving a little note here where I'll see it - I think This entire "add a transaction" section
        should be a drop down part of the main nav bar. This is the core feature of the site, so it should be 
        up front and convenient. Anyway, I'm going to go to bed now. 
        <br><br>
        Also, I need to look in how to add more options to the nav bar. I think I want each displayed chart
        or whatever to be an option on the main nav bar panel as opposed to a container on the main page.
        <br><br>
        Think like an icon bar.
        <br><br>
        Oh, and I need to add the ability to change the transaction date. There should be a drop down calendar thing with the default option being today.
        <br><br>
        And an auto-complete category thing.
        <br><br>
    </p>

    <h2>Transactions {{date_range_start}} - {{date_range_end}}</h2>


    <table class="table table-hover transaction-table" id="transaction-table">
        <tr class="transaction-table-header">
            <!-- implement a sort_order thing to reorganize transactions -->
            <th>Date</th>
            <th>Memo</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Delete</th>
        </tr>
        {% for transaction in transactions %}
            {% include 'budget_app/transaction_table_row.html' %}
        {% endfor %}
    </table>
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function(){

        lineChart = drawLinechart({{initial_funds}}, {{pos_change_vals}}, {{neg_change_vals}}, 
            {{dates_in_range|safe}}, $("#lineChartCanvas"));
        pieChart = drawPieChart({{sorted_expense_cat|safe}}, {{sorted_expense_val}}, $("pieChartCanvas"));


        /*
            Also, I want to bind this to the submit action of #transactionForm so this happens when a new
            value is added.

            If I want to add the ability to remove transactions (which I really should), this should also
            fire on that case.
        */

        /*
        //$("#ajaxRequestbutton").on("click", function(event){
        $("#transactionForm").on("submit", function(event){
            event.preventDefault();
            $.ajax({
                url: "/",
                type: "GET",
                success: function(data){
                    console.log("Everything's working fine");

                    console.log(data);

                    // destroy and redraw the charts
                    lineChart.destroy();
                    pieChart.destroy();
                    
                    lineChart = drawLinechart(data.initial_funds, data.pos_change_vals, data.neg_change_vals,
                        data.dates_in_range, $("#lineChartCanvas"));
                    pieChart = drawPieChart(data.sorted_expense_cat, data.sorted_expense_val, 
                        $("#pieChartCanvas"));
                },
            });
        });
        */
    });
    </script>
{% endblock %}