/*
	SCSS for Simple Budget App

	Written by John O'Hara
	http://github.com/jaohara
*/


/*	=====
	Debug
	=====	*/

.debug-container{
	display: none;
}

/*  ======
	Navbar
	======	*/


.navbar{


}


/*	====
	Body
	====	*/

body{
	/* padding for navbar */
	padding-top: 50px;
}

/*	=====================
	Transaction Container
	=====================	*/

#transaction-container{
}

/*	===============
	Chart Jumbotron
	===============	*/

#chart-jumbotron{
	display: none;
}


/*  ===============
	Forms and Input
	===============	*/

.input-group-addon{
	/* How do I center the span.input-group-addon span.icon elements? */
	/*min-width: 6em;*/
}


/*	======
	Footer
	======	*/

footer{
	background: rgba(0,0,0,0.15);
	font-color: rgba(0,0,0,0.8);
	font-size: 0.8em;
	padding: 4.0em 0em;
}
